GITY_APP_NAME=gity
GITY_APP_ENVIRONMENT=development
GITY_HTTP_ADDRESS=:8080
GITY_HTTP_BASE_URL=http://localhost:8080
GITY_DATABASE_DRIVER=sqlite
GITY_DATABASE_DSN=file:gity.db?_pragma=foreign_keys(1)
GITY_GIT_REPO_ROOT=./data/repos
GITY_GIT_BIN=git
