GITY_SERVER_PORT=8080
GITY_SERVER_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
GITY_AUTH_ADMIN_USERNAME=admin
GITY_AUTH_ADMIN_PASSWORD=admin
GITY_AUTH_SUPER_ADMINS=admin
GITY_DATABASE_URL=postgres://root:root@localhost:5433/gity
GITY_CACHE_CACHE_TYPE=REDIS
GITY_CACHE_URL=redis://localhost:6379
GITY_STORAGE_REPO_ROOT=./data/repos
GITY_GIT_ALLOW_ANONYMOUS_READ=false
